/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.App{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.home{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 50px;
  &-title{
    width: 100%;
    text-align: center;
  }
  &-dashboard{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    min-width: 500px;
  }
}

.products{
  min-width: 50%;
  &-title{
    font-size: 30px;
    text-align: center;
  }
  &-container{
    padding: 10px;
  }
  &-product{
    display: flex;
    padding: 18px;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.192);
    margin: 10px 10px;
    button {
      cursor: pointer;
      border: none;
      padding: 10px 20px;
      background-color: black;
      color: white;
    }
  }
}

.cart{
  min-width: 50%;
  &-title{
    font-size: 30px;
    text-align: center;
  }
  &-container{
    padding: 10px;
  }
  &-item{
    display: flex;
    padding: 18px;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.192);
    margin: 10px 10px;
    &-desc{
      font-size: 10px;
    }
  }
  &-resume {
    font-size: 20px;
    text-align: right;
  }
  button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
  }
}